body {
    background-color: #2c2c2c; /* Dunkelgrau */
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 120px; /* entspricht ungefähr der Höhe deiner Navbar */
}

.card-text {
    font-size: 1.25rem;
}
.brand {
    color: #b22938;
}
.navbar {
    background-color: #1e1e1e;
}
.footer {
    background-color: #1e1e1e;
    color: #aaa;
    padding: 1rem;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.6);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link:active,
.btn:active {
    transform: scale(0.98);
    opacity: 0.8;
}
.hero {
    height: 50vh;
    position: relative;
    background-image: url('img/welcomePic2.png');
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.4); /* grauer Film */
    z-index: 1;
}

.hero .hero-content {
    position: relative;
    z-index: 2;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.nav-link {
    font-size: 1.5rem; /* ca. 20px */
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #b22938;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: #b22938 !important;
}

.back-button {
    background-color: #b22938;
    margin-top: 2rem;
    display: inline-block;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#successMessage {
    transition: all 0.5s ease-in-out;
}

